<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.rosisit.idcardcapture">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:largeHeap="true">

        <!--<activity-->
            <!--android:name="com.rosisit.idcardcapture.MainActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:configChanges="orientation|keyboardHidden|uiMode|screenSize|locale|layoutDirection"-->
            <!--android:theme="@style/AppTheme.NoActionBar"-->
            <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        <!--</activity>-->

        <!--<activity-->
            <!--android:name="com.rosisit.idcardcapture.MainActivity"-->
            <!--android:label="@string/app_name2"-->
            <!--android:configChanges="orientation|keyboardHidden|uiMode|screenSize|locale|layoutDirection"-->
            <!--android:theme="@style/AppTheme.NoActionBar"-->
            <!--android:screenOrientation="portrait">-->
        <!--</activity>-->

        <!--<activity android:name="com.rosisit.idcardcapture.OCRCameraActivity"-->
            <!--android:label="@string/app_name2"-->
            <!--android:configChanges="orientation|keyboardHidden|uiMode|screenSize|locale|layoutDirection"-->
            <!--android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">-->
        <!--</activity>-->

        <!--<activity android:name="com.rosisit.imagegrid.ImageSingleView"-->
            <!--android:label="@string/app_name2"-->
            <!--android:configChanges="orientation|keyboardHidden|uiMode|screenSize|locale|layoutDirection"-->
            <!--android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">-->
        <!--</activity>-->

        <!--<activity android:name="com.rosisit.imagegrid.ImageGridView"-->
            <!--android:label="@string/app_name2"-->
            <!--android:configChanges="orientation|keyboardHidden|uiMode|screenSize|locale|layoutDirection"-->
            <!--android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">-->
        <!--</activity>-->
    </application>

</manifest>